[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
SQLAlchemy = "1.4.49"
flask = "2.2.2"
flask-sqlalchemy = "2.5.1"
flask-migrate = "4.0.0"
flask_cors = "*"
flask-restful = "*"
sqlalchemy-serializer = "1.4.1"
importlib-metadata = "6.0.0"
importlib-resources = "5.10.0"
flask-bcrypt = "1.0.1"
Werkzeug= "*"
faker = "*"
requests = "*"
replicate = "*"

[dev-packages]
pytest = "*"

[requires]
