[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
SQLAlchemy = "==1.4.49"
flask = "==2.2.2"
flask-sqlalchemy = "==3.0.3"
flask-migrate = "==4.0.0"
flask_cors = "*"
flask-restful = "*"
psycopg2-binary = "*"
sqlalchemy-serializer = "==1.4.1"
importlib-metadata = "==6.0.0"
importlib-resources = "==5.10.0"
flask-bcrypt = "==1.0.1"
Werkzeug = "==2.3.6"
requests = "*"
faker = "*"
replicate = "*"
python-dotenv = "*"
gunicorn = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.8"
